
        <!-- Page Container -->
        <div class="page-container">
            <div class="login">
                <div class="login-bg"></div>
                <div class="login-content">
                    <div class="login-box">
                        <div class="login-header">
                            <h3>Reset Password</h3>
                            <p>Please Reset Password Now.</p>
                        </div>
                        <div class="login-body">
                            {{ errorMessage }}           
                            <form [formGroup]="resetpassword" (ngSubmit)="resetpassowrd()" >
                                <div class="form-group">
                                    <input type="password" class="form-control" formControlName="password" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" formControlName="cnfrmpassword" placeholder="Confirm Password">
                                </div>
                                <button type="submit" class="btn btn-primary">Reset</button>
                            </form>
                        </div>
                        <div class="login-footer">
                            <p>Copyright @Stacks</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /Page Container -->
               