
 <div class="row">
    <div class="col-xl">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Edit Brand</h5>
                <form [formGroup]="BrandForm" (ngSubmit)="UpdateData()">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Brand Name</label>
                        <input type="hidden" formControlName="id" id="id" class="form-control">
                        <input type="text" class="form-control" formControlName="name" id="name" placeholder="Brand">
                        
                    </div>

                    <button type="submit" class="btn btn-danger">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>