<!-- 
    <form method="POST">
        <table class="table ">
            <thead>
                <tr>
                    <label>CATEGORY NAME</label>
                    <input type="text" name="Category" autocomplete="false" class="form-control" value="">
                </tr><br>
                <tr>
                    <input type="submit" value="SUBMIT" class="btn btn-success">
                </tr>
            </thead>
        </table>
    </form> -->


<form [formGroup]="CategoryForm" (ngSubmit)="collectData()" >
    <table class="table table-responsive-lg">
        <thead>
            <tr>
                <label>CATEGORY NAME</label>
                <input type="text" formControlName="name" id="name" class="form-control">
            </tr><br>
            <tr>
                <button type="submit" id="form-submit" class="btn btn-danger">Send</button>
            </tr>
        </thead>
    </table>
</form>