<div class="secondary-sidebar">
        <div class="secondary-sidebar-bar">
            <a href="#" class="logo-box">concept</a>
        </div>
        <div class="secondary-sidebar-menu">
            <ul class="accordion-menu">
                <li class="active-page">
                    <a href="index.html">
                        <i class="menu-icon icon-home4"></i><span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <i class="menu-icon icon-apps"></i><span>Category</span><i class="accordion-icon fas fa-angle-left"></i>
                    </a>
                    <ul class="sub-menu">
                        <li><a [routerLink]="['\category','\create']" >Add Category</a></li>
                        <li><a [routerLink]="['\category']" >View Category</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <i class="menu-icon icon-layers"></i><span>SubCategory</span><i class="accordion-icon fas fa-angle-left"></i>
                    </a>
                    <ul class="sub-menu">
                        <li><a [routerLink]="['\subcategory','\create']" >Add SubCategory</a></li>
                        <li><a [routerLink]="['\subcategory']" >View SubCategory</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <i class="menu-icon icon-layers"></i><span>Brand</span><i class="accordion-icon fas fa-angle-left"></i>
                    </a>
                    <ul class="sub-menu">
                        <li><a [routerLink]="['\brand','\create']" >Add Brand</a></li>
                        <li><a [routerLink]="['\brand']" >View Brand</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <i class="menu-icon icon-layers"></i><span>Banner</span><i class="accordion-icon fas fa-angle-left"></i>
                    </a>
                    <ul class="sub-menu">
                        <li><a [routerLink]="['\banner','\create']" >Add Banner</a></li>
                        <li><a [routerLink]="['\banner']" >View Banner</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <i class="menu-icon icon-layers"></i><span>Product</span><i class="accordion-icon fas fa-angle-left"></i>
                    </a>
                    <ul class="sub-menu">
                        <li><a [routerLink]="['\product','\create']" >Add Product</a></li>
                        <li><a [routerLink]="['\product']" >View Product</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <i class="menu-icon icon-layers"></i><span>Coupon</span><i class="accordion-icon fas fa-angle-left"></i>
                    </a>
                    <ul class="sub-menu">
                        <li><a [routerLink]="['\coupon','\create']" >Add Coupon</a></li>
                        <li><a [routerLink]="['\coupon']" >View Coupon</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <i class="menu-icon icon-code"></i><span>Forms</span><i class="accordion-icon fas fa-angle-left"></i>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="form-elements.html">Form Elements</a></li>
                        <li><a href="form-upload.html">File Upload</a></li>
                        <li><a href="form-image-crop.html">Image Crop</a></li>
                        <li><a href="form-image-zoom.html">Image Zoom</a></li>
                        <li><a href="form-select2.html">Select2</a></li>
                    </ul>
                </li>
                <li>
                    <a href="charts.html">
                        <i class="menu-icon icon-show_chart"></i><span>Charts</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <i class="menu-icon icon-star"></i><span>Pages</span><i class="accordion-icon fas fa-angle-left"></i>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="invoice.html">Invoice</a></li>
                        
                        <li><a href="login.html">Login</a></li>
                        <li><a href="register.html">Register</a></li>
                        <li><a href="lockscreen.html">Lockscreen</a></li>
                        <li><a href="pricing-tables.html">Pricing Tables</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- Page Header -->
    <div class="page-header">
        <div class="search-form">
            <form action="#" method="GET">
                <div class="input-group">
                    <input type="text" name="search" class="form-control search-input" placeholder="Type something...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" id="close-search" type="button"><i class="icon-close"></i></button>
                    </span>
                </div>
            </form>
        </div>
        <nav class="navbar navbar-default navbar-expand-md">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <div class="logo-sm">
                        <a href="javascript:void(0)" id="sidebar-toggle-button"><i class="fas fa-bars"></i></a>
                        <a class="logo-box" href="index.html"><span>concept</span></a>
                    </div>
                    <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <i class="fas fa-angle-down"></i>
                    </button>
                </div>
            
                <!-- Collect the nav links, forms, and other content for toggling -->
            
                <div class="collapse navbar-collapse justify-content-between" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav mr-auto">
                        <li class="collapsed-sidebar-toggle-inv"><a href="javascript:void(0)" id="collapsed-sidebar-toggle-button"><i class="fas fa-bars"></i></a></li>
                        <li><a href="javascript:void(0)" id="toggle-fullscreen"><i class="fas fa-expand"></i></a></li>
                        <li><a href="javascript:void(0)" id="search-button"><i class="fas fa-search"></i></a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
                    <ul class="nav navbar-nav">
                        <li class="dropdown nav-item d-md-block">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bell"></i></a>
                            <ul class="dropdown-menu dropdown-menu-right dropdown-lg dropdown-content">
                                <li class="drop-title">Notifications<a href="#" class="drop-title-link"><i class="fas fa-angle-right"></i></a></li>
                                <li class="slimscroll dropdown-notifications">
                                    <ul class="list-unstyled dropdown-oc">
                                        <li>
                                            <a href="#"><span class="notification-badge bg-info"><i class="fas fa-at"></i></span>
                                                <span class="notification-info">
                                                    <span class="notification-info"><b>John Doe</b> mentioned you in a post "Update v1.5"</span>
                                                    <small class="notification-date">06:07</small>
                                                </span></a>
                                        </li>
                                        <li>
                                            <a href="#"><span class="notification-badge bg-danger"><i class="fas fa-bolt"></i></span>
                                                <span class="notification-info">
                                                    <span class="notification-info">4 new special offers from the apps you follow!</span>
                                                    <small class="notification-date">Yesterday</small>
                                                </span></a>
                                        </li>
                                        <li>
                                            <a href="#"><span class="notification-badge bg-success"><i class="fas fa-bullhorn"></i></span>
                                                <span class="notification-info">
                                                    <span class="notification-info">There is a meeting with <b>Ethan</b> in 15 minutes!</span>
                                                    <small class="notification-date">Yesterday</small>
                                                </span></a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown nav-item d-md-block">
                            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="../../assets/images/avatars/avatar1.png" alt="" class="rounded-circle"></a>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <li><button class="btn btn-block">Profile</button></li>
                                <li><button class="btn btn-block">Account Settings</button></li>
                                <li><button class="btn btn-block" (click)="logout()" >Log Out</button></li>
                            </ul>
                        </li>
                    </ul>
            </div><!-- /.container-fluid -->
        </nav>
    </div><!-- /Page Header -->
    <!-- Page Inner -->