<div class="page-container">
        <!-- Page Sidebar -->
        <app-header></app-header>
        <!-- Page Content -->
        <div class="page-content">
            <app-footer></app-footer>
 
            <div class="page-inner no-page-title">
                <div id="main-wrapper">
                    
                                    <router-outlet></router-outlet>
                    

                    <div class="page-footer">
                        <p>2019 &copy; stacks</p>
                    </div>
                </div><!-- /Page Inner -->
            </div><!-- /Page Content -->
        </div>
    </div>
    