
        <!-- Page Container -->
        <div class="page-container">
            <div class="login">
                <div class="login-bg"></div>
                <div class="login-content">
                    <div class="login-box">
                        <div class="login-header">
                            <h3>Forget Password</h3>
                            <p>Welcome Please Dont Worry About Password.</p>
                            <p>We will send mail on fowllowing mail.</p>
                        </div>
                        <div class="login-body">                   
                            <form [formGroup]="forgetpassowrd" (ngSubmit)="forget()" >
                                <div class="form-group">
                                    <input type="email" class="form-control"formControlName="email" placeholder="Enter email">
                                </div>
                                <button type="submit" class="btn btn-primary">Send</button>
                            </form>
                        </div>
                        <div class="login-footer">
                            <p>Copyright @Stacks</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /Page Container -->
               