
    <form method="POST">
            <table class="table ">
                <thead>
                    <tr>
                        <label>CATEGORY NAME</label>
                        <input type="text" name="Category" autocomplete="false" class="form-control" value="">
                    </tr><br>
                    <tr>
                        <input type="submit" value="SUBMIT" class="btn btn-success">
                    </tr>
                </thead>
            </table>
        </form>